@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.race-type-filter {
  display: flex;
  justify-content: space-between;
}

.race-type-button {
  cursor: pointer;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  @include border-radius(5px);

  .icon {
    font-size: 1.5rem;
  }
}