@import "reset";

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css');

@import "variables";
@import "mixins";

html,
body {
  font-family: $app-font;
  font-size: 10px;
  font-weight: 400;
  height: 100%;
  background: $body-bg;
  color: $text-dark;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

img, iframe {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.6em 0;
  font-weight: normal;
}

h1 {
  font-size: 2.625em;
  line-height: 1.2
}

h2 {
  font-size: 1.625em;
  line-height: 1.2
}

h3 {
  font-size: 1.3125em;
  line-height: 1.24;
}

h4 {
  font-size: 1.1875em;
  line-height: 1.23;
}

h5, h6 {
  font-size: 1em; 
  font-weight: $font-bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.f-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.f-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: $panel-bg;
  min-width: 300px;
  padding: 15px;
  @include border-radius(5px);
  @include box-shadow(0 0 10px -5px $overlay);
}