@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
          box-shadow: $value;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
      -ms-border-radius: $value;
       -o-border-radius: $value;
          border-radius: $value;
}

@mixin transform($value) {
   -webkit-transform: $value;
      -moz-transform: $value;
       -ms-transform: $value;
        -o-transform: $value;
           transform: $value;
 }
