$app-font: 'Quicksand';

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$body-bg: #f5f5f5;
$border-color: #f9f9f9;
$panel-bg: #ffffff;
$text-dark: #484848;
$text-light: #FFFFFF;
$overlay: rgba(0, 0, 0, .25);

$button: #fbc85a;
$button-hover: #fab039;
