.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;

  .race-type-filter, .next-race {
    margin-bottom: 20px;
  }

  .fetch-button {
    cursor: pointer;
    font-size: 1.6rem;
  }
}