@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.next-race {
  min-height: 200px;
  position: relative;

  &__head {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  .hr {
    margin: 15px 0;
  }

  .country {
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }

  .title {
    font-size: 1.3rem;
    font-weight: $font-medium;
  }

  .time {
    font-size: 1rem;
    font-weight: $font-regular;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: $font-bold;
  }

  .race-type {
    align-items: center;
    background-color:$text-dark;
    color: $text-light;
    display: flex;
    font-size: 1.5rem;
    font-weight: $font-bold;
    justify-content: center;
    height: 20px;
    width: 20px;
    @include border-radius(3px);
  }

  .runner {
    justify-content: space-between;
    padding: 10px;

    &:nth-child(odd) {
      background-color: $border-color;
    }

    button {
      background-color: $button;
      font-size: 0.9rem;
      padding: 5px 7px;
      width: 35px;
      @include border-radius(3px);

      &:hover {
        background-color: $button-hover;
        cursor: pointer;
      }
    }
  }
}